body{
    font-family: Arial, Helvetica, sans-serif;
}
.whole{
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    width:15.3vw;
    height:10vh;
    font-size:3vw;
    display:flex;
    align-items:center;
    justify-content: center;
    /* border:0.2vw solid black; */
    padding:0.2vw;
    margin-top:0;
    margin-bottom: 0;
    /* font-family:'Courier New', Courier, monospace; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dabbas{
    display:flex;
    flex-direction: row;
}
.dabba1{
width:4vw;
height:4vw;
background-color: white;
color:black;
transition: background-color 0.3s ease, color 0.3s ease;
border:0.2vw solid black;
display:flex;
align-items: center;
justify-content: center;
font-size:2vw;
overflow:hidden;
margin:0.2vw;

}
#UserIP{
    margin:2vw;
    width:18vw;
    height:5vh;
    margin-right:0;
    margin-left:0.2vw;
    margin-bottom:1vw;
   border-radius:0.2vw;
}
#Enterbtn{
    margin:0vw;
    height:5.5vh;
    width:4.5vw;
    /* border:0.2vw solid black; */
    font-weight:bold;
    background-color: hsl(200, 100%, 1%);
    color:white;
    cursor:pointer;
    border-radius:0.5vw;
}
#Enterbtn:hover,#Resetbtn:hover{
        background-color: hsl(0, 0%, 16%);
}
#Enterbtn:active,#Resetbtn:active{
       background-color: hsl(0, 0%, 22%);   
}
#Resetbtn{
    margin:0vw;
    height:5.5vh;
    width:4.5vw;
    /* border:0.2vw solid black; */
    font-weight:bold;
    background-color: hsl(200, 100%, 1%);
    color:white;
    cursor:pointer;
    border-radius:0.5vw;
}
.errorbar{
     width:22.5vw;
    height:10vh;
    font-size:1.5vw;
    display:flex;
    align-items:center;
    justify-content: center;
    /* border:0.2vw solid black; */
    padding:0.2vw;
    margin-top:0;
    margin-bottom: 0;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Noletter{
    background-color: rgb(69, 69, 69);
    color:white;
    transition: background-color 0.3s ease, color 0.3s ease;
    width:4vw;
    height:4vw;
    border:0.2vw solid rgb(69, 69, 69);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2vw;
    overflow:hidden;
    margin:0.2vw;
}
.Wrongplace{
       background-color: rgb(206, 196, 19);
    color:white;
    transition: background-color 0.3s ease, color 0.3s ease;
    width:4vw;
    height:4vw;
    border:0.2vw solid rgb(206, 196, 19);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2vw;
    overflow:hidden;
    margin:0.2vw; 
}
.Rightplace{
    background-color:rgb(87, 165, 24);
    color:white;
    transition: background-color 0.3s ease, color 0.3s ease;
    width:4vw;
    height:4vw;
    border:0.2vw solid rgb(87, 165, 24);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2vw;
    overflow:hidden;
    margin:0.2vw; 
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.animate-flip {
  animation: flip 0.4s ease forwards;
  transform-origin: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}